<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul class="slider">
    <li class="slider--item slider--item-left">
        <a href="https://protobase.pythonanywhere.com/">
            <div class="slider--item-image">
                <img src="../static/assets/img/work-victory.jpg" alt="ProtoBase">
            </div>
            <p class="slider--item-title">ProtoBase</p>
            <p class="slider--item-description">ProtoBase is the ultimate backend solution for developers, offering a distraction-free environment to build, deploy, and scale applications. It is designed with simplicity and efficiency in mind.</p>
        </a>
    </li>
    <li class="slider--item slider--item-center">
        <a href="https://scrapenest.pythonanywhere.com/">
            <div class="slider--item-image">
                <img src="../static/assets/img/work-metiew-smith.jpg" alt="ScrapeNest">
            </div>
            <p class="slider--item-title">ScrapeNest</p>
            <p class="slider--item-description">Your go-to API for seamless, efficient, and scalable web scraping.Start building your web scraping projects today with ScrapeNest!</p>
        </a>
    </li>
    <li class="slider--item slider--item-right">
        <a href="#0">
            <div class="slider--item-image">
                <img src="../static/assets/img/work-alex-nowak.jpg" alt="Alex Nowak">
            </div>
            <p class="slider--item-title">Alex Nowak</p>
            <p class="slider--item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do.</p>
        </a>
    </li>
</ul>
</body>
</html>